
/* This will grab all the h1 tags */
h1 {
  color: red;
}

/* This is a class */
.container
{
  background-color: lightgreen;
  width: 600px;
  margin: auto;
}

.article h1 {
  color: red;
}
/* This is a id  */
#flower {

  background-color: pink;
  width: 400px;

}
