
/* This will grab all the h1 tags */
h1 {
  color: red;
  font-family: 'Lato', sans-serif;
}

/* This is a class */
.container
{
  background-color: rgb(75, 194, 26);
  width: 600px;
  margin: 50%;
}
.container h1 {font-size: 15px}

.article h1 {
  color: red;
}
/* This is a id  */
#flower {

  background-color: pink;
  width: 400px;

}
