
/* This will grab all the h1 tags */
h1 {
  color: black;
  font-family: 'Lato', sans-serif;
  margin: auto;
}

/* This is a class */
.container
{
  background-color: rgb(75, 194, 26);
  width: 600px;
  margin: auto;
  padding: 20px;
  box-shadow: 5px 10px 10px 10px rgb(100, 111, 96);
  border-radius: 50px;
}
.container h1 {font-size: 15px}

.article h1 {
  color: blue;
}
/* This is a id  */
#flower {

  background-color: pink;
  width: 400px;

}
