h2 {
  color: black;
  font-family: 'Lato', sans-serif;
  margin: auto;
}

/* This is a class */
.container
{
  background-color: white;
  width: 800px;
  height: 650px;
  margin: auto;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px ;

}
.basicGridpats
{
  width: 60%;
  height: 40vh;
  margin: auto;

  display: grid;
  grid-template-rows: 0%;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;


.navigation
{
  display: block;
  margin:  auto;

}
.horizontalline
{
  padding-top: 20px;
  display: block;

}
.horizontalline li {

display: grid;
  padding: 20px 60px 20px 60px;
  background-color: lightgrey;

}
.horizontalline li a
{
  color: gray;
  text-decoration: none;
  font-family: sans-serif;
}
.horizontalline li a:hover
{
  color: blue;
}
.basicGrid
{
  width: 100%;
  height: 40vh;
  margin: auto;

  display: grid;
  grid-template-rows: 0%;
  grid-template-columns: 1fr;
  grid-column-gap: 15px;


}
.picgrid
{

  width: 100%;
  height: 260vh;
  display: grid;
  grid-template-areas: "1"
  "2";
  grid-template-rows:50% 50%;
  grid-row-gap: 20px;
grid-template-columns: 1fr;
grid-column-gap: 20%
}
.container2
{
  background-color: blue;

  margin: auto;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px ;

}
img.socmed {
	width:100px;
	float:left;
	padding-right:10px;
}
#logo {
  display: inline-block;
  margin: 15px;
  float: left;
  height: 60px;
  width: auto;
  border-radius: 50%;
}
body {
  background-color: #f4efe6;
}
img
{
  width: 300px;
  height: auto;
}
.photoset-grid-custom {
  width: 25%;
  height: 50vh;
  margin: auto;
  display: grid;
  grid-template-rows: 50%;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 30px;
}
