.horizontalline li {
  display: inline;
  margin: 40px;
  padding: 20px 60px 20px 60px;
  background-color: lightpink;
  width: 10%;
}
.horizontalline li a
{
  color: gray;
  text-decoration: none;
  font-family: sans-serif;
}
.horizontalline li a:hover
{
  color: red;
}
.navigation
{
  display: table;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}
.photos
{
  background-color: white;
  width: 1200px;
  margin: auto;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px ;

}
.photos h1 {font-size: 100px}
h1 {
  color: black;
  font-family: 'Lato', sans-serif;
  margin: auto;
}
.about
{

  width: 1200px;
  margin: auto;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px ;
}
.about
{
  background-color: lightgray;
}
.workexp
{

  width: 1200px;
  margin: auto;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px ;
}
.workexp
{
  background-color: lightblue;
}
.contact
{
  width: 1200px;
  margin: auto;
  padding: 20px;
  box-shadow: 2px 2px 2px 2px ;

}
.contact
{
border: thick double #32a1ce;
  background-color:lightpink
}
